<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autentificare</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="form-container">

    <h1>Consultatii online</h1>
    <h2>Autentificare</h2>

    <form action="/" method="POST">
        <input type="email" name="email" placeholder="Email..." required><br>
        <input type="password" name="parola" placeholder="Parola..." required><br>
        <button type="submit">Login</button>

        <p th:if="${eroare}" th:text="${eroare}" style="color: red;"></p>
    </form>

    <p>Nu ai cont?</p>

    <button type="button" onclick="window.location.href='/register-pacient'">
        Inregistrează-te
    </button>

</div>

</body>
</html>